#Program and plugins
/.bin
*.exe
*.exe~
*.dll
*.so
*.dylib

#Test
*.test

#Coverage
*.out
/.cover

#IDE
/.idea/
/.vscode/

#Logs
*.log
Collection

#Dependencies
vendor

# Configurations
.env

# Developer's helpers
helper-*

# Archives
*.zip

# Binaries
*main
